*,*::before,*::after{
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
   
    background-image: linear-gradient(white,white, white,white ,rgb(159, 162, 254));
  
}


.menubtnwrap{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10dvh;
}
.menubtn{
    
    text-align: start;
    align-items: center;
    height: 10dvh;
    
}


.menubar{
    z-index: 4;
    top: 15dvh;
    left: 0;
    display: none;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color:none;
    height: 80dvh;
    width: 50vw;
    ul{ 
        justify-content: space-around;
        list-style: none;
        align-content: center;
        align-items: center;
        display: inline ;
        height: 100vh;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        li{ 
            border: none;
            font-family: sans-serif;
            font-size: medium;
            text-decoration: none;
            justify-content: space-around;
            width: 100% ;
            height: 15%;
            background-color: white;
            color: black;
            padding-top: 10px;
            a{
                text-decoration: none;
                height : 15%;
            
            }
        }
    }
}

.mainpage{
    min-height: 80dvh;
    justify-content: center;
    align-items: center;
}








.foot{
    border-top-left-radius: 2rem;
    padding-top: 50px;
    background-color: blue;
    color: aliceblue;
    height: 9dvh;
    position : sticky;
       display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100dvw;
}
.footicons{
    background-color: blue;
    height: 5dvh;
    text-decoration: none;
    display :inline-flex;
    flex-direction: row;
    justify-content: space-around;
    ul{ 

      
         background-color: blue;
         display :inline-flex;
         flex-direction: row;
        justify-content: space-around;
        list-style: none;
        color: aliceblue;
        align-content: center;
        align-items: center;
        width: 100dvw;
        li{  height: 5dvh;
            background-color: blue;
            display: flex;
            flex-direction: row;
            font-family: sans-serif;
            font-size: medium;
            color: aliceblue;
            text-decoration: none;
            justify-content: space-around;
           
            background-color: white;
            color: black;
            
            a{  background-color: blue;
                display: inline;
                flex-direction: row;
                text-decoration: none;
                color: aliceblue;
                
            
            }
        }
    }
}
.foottext{
    background-color: blue;
    height: 5dvh;
}
/*carousel*/

.carousel{
    transform : translateX(5dvw);
    box-shadow: 1rem black;
    align-self: center;
    
    height: 60dvh;
    width: 95dvw;
    position: relative;
    overflow: hide;
}
.carousel-radiant{
    z-index: 2;
    position: absolute;
    justify-self: center;
    bottom: 2dvh;
    
    width: 40dvw;
    height: 3dvh;
    display: flex;
    justify-content: space-around;
}

.textimg{
    font-size: 0.8rem;
    height: 20dvh;
   text-align: center;
}


.slides{
    
    max-height: 60dvh;
    max-width: 80dvw;
   /* overflow: hidden; */
    
  
}
.slide {
    
    position: absolute;
   height: 100%;
    width: 100%;
   display: none;
 
}
.slide > img{
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;

}
.slide[data-active]{
    display: block;
    

  }
  .carousel-btn {
    color: white;
    position: absolute;
    border: none;
    background: none;
    z-index: 2;
    top: 50%;
   transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    background-color: rgb(0,0,0,.1);
  }
  .carousel-btn:hover,.carousel-btn:focus{
    color: white;
    background-color: rgb(0,0,0,.3);
  }
  .carousel-btn.prew{
    left: 1rem;
  }
  .carousel-btn.next{
    right: 1rem;
  }



